altair==5.5.0
annotated-types==0.7.0
anyio==4.9.0
attrs==25.3.0
beautifulsoup4==4.13.4
blinker==1.9.0
cachetools==5.5.2
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
contourpy
curl_cffi==0.11.3
cycler==0.12.1
fastapi==0.115.12
fonttools==4.58.2
frozendict==2.4.6
gitdb==4.0.12
GitPython==3.1.44
h11==0.16.0
idna==3.10
Jinja2==3.1.6
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
kiwisolver==1.4.8
lxml==5.4.0
MarkupSafe==3.0.2
matplotlib
mplfinance==0.12.10b0
multitasking==0.0.11
narwhals==1.42.0
numpy
pandas
pandas-datareader==0.10.0
pandas-ta
peewee==3.18.1
Pillow==11.2.1
platformdirs==4.3.8
plotly==6.1.2
protobuf==6.32.1
yfinance
ta
# Core NLP Dependencies for transformers
torch
transformers
accelerate
streamlit-autorefresh
streamlit==1.45.1
protobuf==3.20.3
numpy==1.26.4
pandas==2.3.0
matplotlib==3.10.3
plotly==6.1.2
yfinance==0.2.63
beautifulsoup4==4.13.4
requests==2.32.4
lxml==5.4.0
pandas-ta==0.3.14b0
mplfinance==0.12.10b0
ta==0.11.0
transformers==4.41.2
torch==2.2.2
streamlit-autorefresh==1.0.1
fastapi==0.115.12
uvicorn==0.34.3