altair
annotated-types
anyio
attrs
beautifulsoup4
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
contourpy
curl_cffi
cycler
fastapi
fonttools
frozendict
gitdb
GitPython
h11
idna
Jinja2
jsonschema
jsonschema-specifications
kiwisolver
lxml
MarkupSafe
matplotlib
mplfinance
multitasking
narwhals
numpy
pandas
pandas-datareader
pandas-ta
peewee
Pillow
platformdirs
plotly
protobuf