altair
annotated-types
anyio
attrs
beautifulsoup4
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
contourpy
curl_cffi
cycler
fastapi
fonttools
frozendict
gitdb
GitPython
h11
idna
Jinja2
jsonschema
jsonschema-specifications
kiwisolver
lxml
MarkupSafe
matplotlib
mplfinance
multitasking
narwhals
numpy
packaging
pandas
pandas-datareader
pandas-ta
peewee
Pillow
platformdirs
plotly
protobuf
pyarrow
pycparser
pydantic
pydantic_core
pydeck
pyparsing
python-dateutil
pytz
referencing
requests
rpds-py
setuptools
six
smmap
sniffio
soupsieve
starlette
streamlit==1.45.1
streamlit-autorefresh
ta
tenacity
toml
tornado
typing-inspection
typing_extensions
tzdata
urllib3
uvicorn
watchdog
websockets
yfinance
transformers==4.40.1
torch==2.7.1
